html, body {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

footer {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

footer a {
    color: black;
    text-decoration: none;
}

input, a {
    outline: none
}
