<!doctype html>
<html lang="en">

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/obacht-975.png') }}">

    <title>Robin Hood - Dart Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}

    <script>
        let initialGameRunning = {{ gameRunning|lower }};
        let initialPlayers = {{ players|safe }};
    </script>
</head>

<body>
{#    <section class="content">#}
{#        {% block content %}{% endblock %}#}
{#    </section>#}
</body>
</html>
