<!doctype html>
<html lang="en">

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/obacht-975.png') }}">

    <title>Robin Hood - Dart Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    {% block head %}{% endblock %}
</head>

<body>
<main id="app">
</main>
{#    <section class="content">#}
{#        {% block content %}{% endblock %}#}
{#    </section>#}
<footer>
    <a href="https://valentinrogg.de">
        Robin Hood - Dart Tracker<br />
        © {{ copyright_year }} Valentin Rogg
    </a>
</footer>
</body>
</html>
