{% extends 'base.html' %}

{% block header %}

    <script>
        function changeWeather() {
            fetch('./change-weather', {method: "POST"})
                .then(response => response.json())
                .then(result => {
                    document.getElementById('weather_status').innerText = result.msg;
                    console.log(result.msg);
                })
        }
    </script>
{% endblock %}

{% block content %}
<p id="weather_status">
    {% if weather %}
        The weather is sunny outside :)
    {% else %}
        The weather is rainy outside :(
    {% endif %}
</p>

<div>
    <button onclick="changeWeather()">Change Weather</button>
</div>
{% endblock %}