{% extends 'base.html' %}

{% block head %}
    <script about="initial values">
        let INITIAL_PLAYERS = {{ PLAYERS|safe }};
        let INITIAL_SERVER_STATE = '{{ SERVER_STATE|safe }}';
        let INITIAL_GAMEMODE = '{{ GAMEMODE|safe }}';
        let INITIAL_DARTS = {{ DARTS|safe }};
        let INITIAL_DART_TARGETS = {{ DART_TARGETS|safe }};
        let INITIAL_DART_CHECKOUT = {{ DART_CHECKOUT|safe }};
    </script>
	<link rel='stylesheet' href='/app/build/bundle.css'>
	<script defer src='/app/build/bundle.js'></script>

    <title>Robin Hood - Dart Assistant</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/robin-128.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
{% endblock %}

{% block content %}
<footer>
    <a href="https://valentinrogg.de">
        Robin Hood - Dart Assistant<br />
        © {{ copyright_year }} Valentin Rogg
    </a>
</footer>
{% endblock %}