{% extends 'base.html' %}

{% block head %}
    <script>
        console.log("Hello World");

        let user = {
            name: 'John',
            surname: 'Smith'
        };

        function addPlayer() {
            fetch('./addPlayer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(user)
            })
                .then(response => response.json())
                .then(res => {
                    let ul = document.getElementById('list')

                    if(res.players) {
                        removeAllChildNodes(ul);
                        res.players.forEach(player => {
                            console.log(player);

                            let li = document.createElement('li');
                            li.appendChild(document.createTextNode(player.name + ' ' + player.surname));
                            ul.appendChild(li);
                        })
                    }
                }
            );
        }

        function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div>
        <a href="/start-game">Start a game</a>
    </div>
    <div>
        <button onclick="addPlayer()">Add player</button>
    </div>
    <ul id="list">

    </ul>
{% endblock %}
