# Default ignored files
/shelf/
/workspace.xml/
# Datasource local storage ignored files
/../../../../../../:\01_Work\02_Projects\p0004_Robin_Hood\01_frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
